@model BookShare.Models.Entities.BookDetailBookShopUserModel
@{
    ViewBag.Title = "BookDetails";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>BookDetails</h2>

Cover: <br />
<img style="height: 250px; width: 150px" src="~/Images/@Model.Book.Picture" />
<br />
Name: @Model.Book.Name
<br />
Author Name: @Model.Book.Author.Name
<br />
Author Mail: @Model.Book.Author.Email
<br />
Edition: @Model.Book.Edition
<br />
Publisher: @Model.Book.Publisher
<br />
Category: @Model.Book.Category
<br />
Country: @Model.Book.Country
<br />
Language: @Model.Book.Language
<br />
Page Number: @Model.Book.NumberOfPages
<br />
ISBN: @Model.Book.ISBN
<br />
Price: @Model.Book.Price
<br />
Status: @Model.Book.Status
<br />
Shop Name:@Model.Shop.Name
<br />
Shop Location: @Model.Shop.Location
<br />
Shop Number: @Model.Shop.ShopNumber
<br />
Shop Owner: @Model.Shop.Name
