@model List<BookShare.Models.Entities.SellerDetailsUserModel>
@{
    ViewBag.Title = "AllRequestedList";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>AllRequestedList</h2>


<form action="/Admins/AllRequestedList" method="get">
    <input type="text" name="searchNid" placeholder="Search by Nid" />
    <input type="text" name="searchShopNumber" placeholder="search by Shop Number" />
    <select name="searchStatus">
        <option value="">None</option>
        <option value="Deny">Deny</option>
        <option value="Approved">Approve</option>
        <option value="painding">Painding</option>
    </select>
    <input type="submit" value="search" />
</form>
<br />
<br />

<table class="table">
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Nid</th>
        <th>Shop Number</th>
        <th>Shop Documents</th>
        <th>Status</th>

    </tr>
    @foreach (var list in Model)
    {
        <tr>
            <td><img style="height:50px;width:50px;" src="~/Images/@list.User.Picture" /></td>
            <td>@list.User.Name</td>
            <td>@list.User.Email</td>
            <td>@list.User.Phone</td>
            <td>@list.Nid</td>
            <td>@list.ShopNumber</td>
            <td><a class="btn btn-success" href="/Admins/Download/@list.Id">Download/View</a></td>
            <td>@list.Status</td>

        </tr>
    }

</table>

@if (Model.Count == 0)
{
    <h3>Nothing Found</h3>
}